
    <div class="wrapper">
        <!--sidebar-->
        <nav id="sidebar">
           <!--  <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div> -->
            <div class="sidebar-header">
                <h3>dashboard</h3>
            </div>
            <ul class="list-unstyled components">
                <li >
                    <a href="#drop" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="drop">
                        <li>
                            <a href="#">home 1</a>
                        </li>
                        <li>
                            <a href="#">home 2</a>
                        </li>
                        <li>
                            <a href="#">home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#page" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">pages</a>
                    <ul class="list-unstyled collapse" id="page">
                        <li>
                            <a href="#">page 1</a>
                        </li>
                        <li>
                            <a href="#">page 2</a>
                        </li>
                        <li>
                            <a href="#">page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

        </nav>
        <!--page content-->
        <div id="content">
        <div class="row">
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3></h3>

                                    <p style="font-size: 25px;">عدد الطلاب</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box  bg-info">
                                <div class="inner">
                                    <h3></h3>

                                    <p style="font-size: 25px;">الطلاب الجدد</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box  bg-olive">
                                <div class="inner">
                                    <h3></h3>

                                    <p style="font-size: 25px;">عدد الدورات</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-video-camera"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-6 col-6">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h3></h3>

                                    <p style="font-size: 25px;"> عدد الزائرين الكلى</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-6 col-6">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h3></h3>

                                    <p style="font-size: 25px;">عدد الزائرين اليوم</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Eum quos mollitia est temporibus aliquid voluptatibus aut quasi nobis,
                 placeat libero maxime sit quibusdam esse tempora ea commodi neque, 
                 fugit hic?

            </div>
        </div>
    </div>

