<h3> Choose A Date Range </h3>
<input type="date" id="startDate" class="form-control col-3 m-2" [(ngModel)]="bookingInfo.StartDate" />
<input type="date" id="endDate" class="form-control col-3 m-2" [(ngModel)]="bookingInfo.EndDate" />
<button class="btn btn-primary" (click)="checkAvailableRooms()" > Check Available Rooms </button>
<div class="row col-12" style="justify-content: space-around;margin: 5px auto;">
    <div [ngClass]="{loadingClass:Loading}" ></div>
    <div [hidden]="this.availableRooms.length >=1" >
      {{message}}
    </div>
  <div class="card col-12 col-md-4 col-lg-3 m-1" *ngFor="let item of this.availableRooms">
    <div class="card-header text-center" style="height: 30vh;" >
      <img [src]="item.RoomImagePath" width="30%" height="30%" alt="Hotel Room"/>
    </div>
    <div class="card-body text-center">
      Room type: {{item.RoomType}}<br>
      Room Rate: {{item.Rate}} <br>
      Price per night: {{item.PriceForNight}}<br>
      Number of persons: {{item.NumberOfPersons}}<br>
      Room Description: {{item.Description}}<br>
    </div>
    <div class="card-footer" style="text-align: center;">
      <a class="btn btn-success"  [routerLink]="['']" >Reserve Room</a> 
    </div>
  </div>
  </div>
