/* You can add global styles to this file, and also import other style files */
.loadingClass{
    height: 80vh;
    width: 97vw;
    position: fixed;
    z-index: 998;
    background-image: url(/assets/loadingImageO.gif);
    background-size:300px 300px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
